# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/

# Editor directories
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel
